Source: libnova2
Priority: optional
Maintainer: Petr Kubanek <petr@kubanek.net>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: libnova2-dev
Section: libdev
Architecture: any
Depends: libnova2 (= ${Source-Version})
Description:  Celestial Mechanics and Astronomical Calculation Library
 libnova2 is a general purpose, double precision, celestial mechanics and astronomical calculation library.
 .
 The intended audience of libnova2 is C / C++ programmers, astronomers and anyone else interested in calculating positions of astronomical objects or celestial mechanics.
 .  
 libnova2 is the calculation engine used by the Nova (http://nova.sf.net) project and most importantly, is free software.
 .
 This package contains development files.

Package: libnova2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description:  Celestial Mechanics and Astronomical Calculation Library
 libnova2 is a general purpose, double precision, celestial mechanics and astronomical calculation library.
 .
 The intended audience of libnova2 is C / C++ programmers, astronomers and anyone else interested in calculating positions of astronomical objects or celestial mechanics.
 .  
 libnova2 is the calculation engine used by the Nova (http://nova.sf.net) project and most importantly, is free software.
